OPENAI_KEY=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
OPENA_AI_PROJECT_ID=proj_S068rlCXZAHDprWZkBU37zfhKwaku
